@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.ttf");
}

* {
  font-family: "Cascadia Code", monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000099 #000099;
}

body {
  background-color: #000099;
}

.banner {
  white-space: pre-wrap;
}

main > div > div:first-child {
  display: none;
}

#input {
  margin-top: 24px;
}

.buttons-row {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
}

.whitespace-pre {
  white-space: pre-wrap;
}

.link {
  color: #828282;
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
